*{
  box-sizing: border-box;
}
body{
  min-height: 300vh;
}
a{
  font-size: 30px;
  /* border: 2px solid black; */
}
nav{
  text-align: center;
}

/* Common properties */
.container{
  border: 2px solid green;
  min-height: 1500px;
}
.item{
  /* min-width: 100px; */
  /* max-width: 300px; */
  width: 100px;
  margin: 10px;
  border: 5px solid red;
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 10px 20px;
  background-color: teal;
}

/* Flex properties */
.flex-container{
  display: flex;
  flex-flow: row wrap;
  /* flex-wrap: wrap-reverse; */
  /* flex-direction: column; */
  justify-content: start;
  align-items: baseline;
  /* align-content: center; */
}

.flex-container > div:nth-child(5){
  order: -1;
  /* flex-grow: 1; */
  /* flex-basis: 200px; */
}

.flex-container > div:nth-child(1){
  order: -1;
  flex-shrink: 1;
  /* flex-grow: 2; */
  /* flex-basis: 200px; */
}
.item-n{
  /* height: 100px; */
  align-self: flex-start;
  order: 1;
}